@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
body{
    background-color: white;
    max-width: 1200px;
    margin: 0px;
    padding: 0px;
    font-family: 'Inter';
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* background-color: aqua; */
    height: 70px;
    padding-right: 10px;
}

#title{
    flex-direction: column;
    line-height: 10px;
}

li{
    display: inline-block;
    margin: 35px;
    width: 80;
    height: 30px;
    /* display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px; */
}

#blocks{
    color: white;
    background-color: rgb(238, 149, 54);
    padding: 10px;
    border-radius: 13px;
    border-bottom-left-radius: 0px;
}
#blocks:hover{
    background-color: white;
    color: rgb(238, 149, 54);
    border: 2px solid;
}
#cadastro{
    color: white;
    background-color: rgb(238, 149, 54);
    padding: 10px;
    border-top-right-radius: 10px;
}
#beneficios{
    /* background-color: aqua; */
    width: 300px;
    height: 120px;
    font-size: 12px;
    display: inline-block;
}

a{
    color: rgb(238, 149, 54);
    font-size: 15px;
    text-decoration: none;
}
a:hover{
    color: black;
    transition: 0.3s all;
}

main{
    display: flex;
    flex-direction: row;
    line-height: 50px;
    padding-top: 10px;
    /* background-color: blanchedalmond; */
    margin-left: 40px;
}

h2{
    font-size: 55px;
    line-height: 10px;
}

p{
    line-height: 20px;
    max-width: 400px;
    font-size: 14px;
}
footer{
    background-color: rgb(112, 110, 226);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}