body{
    background-color: white;
    max-width: 1200px;
    margin: 0 auto;
    padding: 15px;
    font-family: newsreaderitalico;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: aqua;
    height: 70px;
}

#title{
    flex-direction: column;
    line-height: 10px;
}

li{
    display: inline-block;
    margin: 35px;
    width: 80;
    height: 30px;
    /* display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px; */
}

#blocks{
    border: 2px solid rgb(238, 149, 54);
    padding: 10px;
    border-radius: 13px;
    border-bottom-left-radius: 0px;
}
#blocks:hover{
    background-color: rgb(238, 149, 54);
    color: white;
}
#cadastro{
    color: white;
    background-color: rgb(238, 149, 54);
    padding: 10px;
    border-top-right-radius: 10px;
}
#beneficios{
    align-items: center;
    background-color: aqua;
    width: 300px;
    height: 120px;
    margin: 15px;
}

a{
    color: rgb(238, 149, 54);
    font-size: 15px;
    text-decoration: none;
}
a:hover{
    color: black;
    transition: 0.3s all;
}

h1{
    font-weight: 200;
}

main{
    display: flex;
    flex-direction: row;
    line-height: 20px;
    padding-top: 15px;
    background-color: blanchedalmond;
}

h2{
    font-size: 60px;
    line-height: 5px;
}

p{
    line-height: 20px;
    max-width: 400px;
}
footer{
    background-color: rgb(112, 110, 226);
    margin: 0%;
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
}