@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
body{
    background-color: white;
    max-width: 100%;
    margin: 0%;
    padding: 0%;
    font-family: 'Inter';
    box-sizing: border-box;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* background-color: aqua; */
    padding-right: 2%;
}

nav{
    padding: 1.2rem;
}

main p{
    line-height: 130%;
    max-width: 65%;
    font-size: 14px;
}

h2{
    font-size: 55px;
    line-height: 10px;
}

li{
    display: inline-block;
    padding: 20px;
    width: 80;
    height: 20px;
    /* display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px; */
}

#logo{
    flex-direction: column;
    line-height: 10px;
    height: 50px;
    padding-left: 4%
}
#blocks{
    color: white;
    background-color: #ee9536;
    padding: 10px;
    border-radius: 13px;
    border-bottom-left-radius: 0px;
}
#blocks:hover{
    background-color: white;
    color: #ee9536;
    border: 2px solid;
}
#cadastro{
    color: white;
    background-color: #ee9536;
    padding: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
}
#beneficios{
    /* background-color: aqua; */
    width: 300px;
    height: 120px;
    font-size: 12px;
    display: inline-block;
}

a{
    color: #ee9536;
    font-size: 15px;
    text-decoration: none;
}

main{
    display: flex;
    flex-direction: row;
    line-height: 50px;
    /* background-color: blanchedalmond; */
    padding-left: 4%;
    padding-top:1%;
}
article{
    float: right;
    /* background-color: yellowgreen; */
    display: flex;
    height: 350px;
    padding-bottom: 2%;
    padding-left: auto;
}

footer{
    background-color: #7899ff;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}